
body {
    @apply h-full w-full bg-white text-black
}
body {
    font-family: 'Poppins', sans-serif
  }
.animated {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    border: none !important;
    box-shadow: none !important;
}

.badge{
    border: none !important;
    box-shadow: none !important;
}